<div class="container">
    <div class="head">
        <div class="data-name">
            <p>Прізвище і Ім'я</p>
            <p>Пошта</p>
        </div>
        <button (click)="openDialogUser()">Додати користувана</button>
    </div>
    <div>
        <div *ngFor="let user of users">
            <div class="user">
                <div class="data">
                    <p>{{user.last_name}} {{user.first_name}}</p>
                    <p>{{user.email}}</p>
                    <div class="fun">
                        <button (click)="openDialogUser(user)">Змінити</button>
                        <button (click)="deleteUser(user.id)">Видалити</button>
                        <button (click)="openDialogAddBankForUser(user)">Додати Банк</button>
                        <span (click)="toggleBankList(user)">{{ user.showBank ? '▲' : '▼' }}</span>
                    </div>
                </div>
                <div class="bank" *ngIf="user.showBank">
                    <div *ngFor="let bank of user.userBanks">
                        <p>{{bank.bank_name}}</p>
                        <button (click)="deleteBank(user, bank.id)">Видалити</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
