.head {
    width: 100%;
    display: flex;
    justify-content: space-between;

    border: 1px black solid;
    button {

    }

    .data-name {
        width: 100%;
        display: flex;
        
        p {
            width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            border-right: 1px black solid;
        }
        
    }
    
}

.user {
    width: 100%;
    
    .data {
        display: flex;
        border: 1px black solid;

        p {
            width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            border-right: 1px black solid;
        }

        .fun {
            width: 50%;
            display: flex;
            justify-content: space-between;
        }

        a {
            text-decoration: none;
            color: black;
        }  
    }

    .bank {
        width: 100%;
        div {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            border: 1px black solid;

            p {
                margin: 0;
                width: 30%;
                border-right: 1px black solid;
            }
        }

        
    }

    

    
}